@import url('https://fonts.googleapis.com/css?family=Fahkwang:500');

@font-face {
  font-family: "Cinematografica";
  src: url("../fonts/cinematografica/cinematografica-thin-trial-webfont.woff2")
  format("woff2"), url("../fonts/cinematografica/cinematografica-thin-trial-webfont.woff")
  format("woff");
  font-weight: lighter;
  font-style: normal;
} 

body {
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  color: white;
  font-size: 35px;
  font-family: "Dosis";
  font-weight: bold;
  text-align: center;
}

h2 {
  color : #900C3F;;
  font-size: 30px;
  font-family: "Dosis";
  margin: 20px;
  text-decoration: underline;
  text-align: center;
}

nav {
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: black;
}

nav li {
  display: inline-block;
  text-align: center;
  width: 20%;
  line-height: 50px;
}

nav li:hover {
  background-color: #363636;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Dosis";
  font-size: 20px;
  display: block;
}

nav a:hover {
  color: White;
}

.logo {
  font-family: "Cinematografica";
  font-weight: lighter;
  font-style: normal;
  font-size: 100px;
  /* text-align: center; */
  color: #900C3F;
  /* margin: 10px; */
  position: absolute;
}

.square {
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius:50%;
  margin: auto;
}

.block {
  height: 100px;
  width: 100px;
  padding: 30px;
  background-color: #900C3F;
  color: white;
  text-align: center;
  margin: 15px;
  font-size: 18px;
  font-family: "Dosis";
  border-radius: 50%;
}

.blocks {
  display: flex;
  justify-content: center;
}


footer {
  height: 50px;
  width: 100%;
  background-color: black;
}

footer p {
  color: white;
  font-family: "Dosis";
  line-height: 50px;
  margin-left: 5%;
}
.parentparent {
  justify-content: center;
  display: flex;
}

.separator {
  height: 15px;
  width: 100%;
}

.separator {
  height: 15px;
  width: 100%;
}

#home:before  {
content: url("../temple-japonais.png");
padding-right: 10px;
margin-top: 5px;
}

#home-banner {
  background-image: url("../fuji-san-artwork.jpg");
  height: 350px;
  width: 100%; 
  line-height: 350px;
}

#land-banner {
  background-image: url("../paysage-japonais.jpg");
  height: 350px;
  width: auto;
  background-size: cover;
  line-height: 350px;
}

.black-bar {
  height: 50px;
  width: 100%;
  background-color: black;
}