.site-background {
  /* background-color: #29BFF2; */
  background-image: url("../images/red-wave-motif.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.logo-background {
  /* margin-left: 10%;
  margin-right: 10%; */
  background-color: white;
}

.main-background {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  box-shadow: -2px 0px 15px black;
  box-shadow: 2px 0px 15px black;
}
.logo {
  font-family: "Cinematografica";
  font-weight: 100;
  font-style: normal;
  font-size: 100px;
  /* text-align: center; */
  color: #9C0D38;
  /* margin: 10px; */
  position: absolute;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #FF3D40;
  margin: 15px;
  border-radius:50%;
}

h1 {
  color: white;
  font-size: 35px;
  font-family: "Dosis";
  font-weight: bold;
  text-align: center;
}

h2 {
  color : #9C0D38;
  font-size: 30px;
  font-family: "Dosis";
  margin: 20px;
  text-decoration: underline;
  text-align: center;
}

nav {
  height: 50px;
  /* padding-left: 10%;
  padding-right: 10%; */
  text-align: center;
  background-color: #01161E;
  box-shadow: 0px -2px 15px black;
}

nav li {
  display: inline-block;
  text-align: center;
  width: 20%;
  line-height: 50px;
}

nav li:hover {
  background-color: #363636;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Dosis";
  font-size: 20px;
  display: block;
}

nav a:hover {
  color: White;
}


.block {
  height: 100px;
  width: 100px;
  padding: 30px;
  background-color: #900C3F;
  color: white;
  text-align: center;
  margin: 15px;
  font-size: 18px;
  font-family: "Dosis";
  border-radius: 50%;
}

.block-parent {
  display: flex;
  justify-content: center;
}


footer {
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Dosis";
}

footer p {
  /* line-height: 50px; */
  margin-left: 5%;
}

#home:before  {
content: url("../images/temple-japonais.png");
padding-right: 10px;
margin-top: 5px;
}

#home-banner {
  background-image: url("../images/fuji-san-artwork.jpg");
  height: 350px;
  width: 100%; 
  line-height: 350px;
}

#land-banner {
  background-image: url("../images/paysage-japonais.jpg");
  height: 350px;
  width: auto;
  background-size: cover;
  line-height: 350px;
}

.black-bar {
  height: 50px;
  width: 100%;
  background-color: black;
  box-shadow: 0px 2px 15px black;
}

#lang-banner {
  background-image: url("../images/japanese-street.jpg");
  height: 350px;
  width: auto;
  background-size: cover;
  line-height: 350px;
}

#culture-banner {
  background-image: url("../images/temple-street.jpg");
  height: 350px;
  width: auto;
  background-size: cover;
  line-height: 350px;
}

#lantern {
/* position: relative; */
}

.header-parent {
  display: flex;
  justify-content: space-between;
  height: 130px;
}