@import url('https://fonts.googleapis.com/css?family=Fahkwang:500');

@font-face {
  font-family: "Cinematografica";
  src: url("../fonts/cinematografica/cinematografica-thin-trial-webfont.woff2")
  format("woff2"), url("../fonts/cinematografica/cinematografica-thin-trial-webfont.woff")
  format("woff");
  font-weight: lighter;
  font-style: normal;
} 


h1 {
  color: white;
  font-size: 35px;
  font-family: "Dosis";
  font-weight: bold;
  text-align: center;
  background-image: url("../fuji-san-artwork.jpg");
  height: 350px;
  width: 100%;
  color: white;
  line-height: 350px;
}

h2 {
  color : #900C3F;;
  font-size: 30px;
  font-family: "Dosis";
  margin: 20px;
  text-decoration: underline;
  text-align: center;
}

nav ul {
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: #F1CDC8;
}

nav li {
  display: inline-block;
  text-align: center;
  width: 20%;
  line-height: 50px;
}

nav li:hover {
  background-color: #F0B9B1;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: "Dosis";
  font-size: 20px;
  display: block;
}

nav a:hover {
  color: White;
}

.logo {
  font-family: "Cinematografica";
  font-weight: lighter;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  color: #900C3F;
  margin: 10px;
}

.block {
  height: 100px;
  width: 100px;
  padding: 30px;
  background-color: #900C3F;
  color: white;
  text-align: center;
  margin: 15px;
  font-size: 18px;
  font-family: "Dosis";
}

.blocks {
  display: flex;
  justify-content: center;
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  height: 50px;
  width: 100%;
}