

/* se renseigner sur pourquoi obligé de mettre box-sizing : border-box;


faire en sorte qu'une image trop grande reste dans son div parent


.exemple de class de l'image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
 } 
 
 
 
 pour le menu, utiliser flex-grow : 1;*/

 * {
  box-sizing: border-box;
}

main {
  margin-top : 180px;
}
.site-background {
  /* background-color: #29BFF2; */
  background-image: url("../images/red-wave-motif.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.logo-background {
  background-color: white;
  position: relative;
}

.main-background {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  box-shadow: -2px 0px 15px black;
  box-shadow: 2px 0px 15px black;
  /* position: relative; */
}
.logo {
  font-family: "Cinematografica";
  font-weight: 100;
  font-style: normal;
  font-size: 100px;
  /* text-align: center; */
  /* color: #9C0D38; */
  color:black;
  position: absolute;
  text-decoration: none;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #FF3D40;
  margin: 15px;
  border-radius:50%;
}

h1 {
  color: white;
  font-size: 35px;
  font-family: "Dosis";
  font-weight: bold;
  text-align: center;
}

h2 {
  color : #9C0D38;
  font-size: 50px;
  font-family: "Cinematografica";
  margin: 20px;
  font-weight: bold;
  /* text-decoration: underline; */
  text-align: center;
}

header {
  position: fixed;
  top : 0px;
  width: 100%;
  z-index: 1;
}

nav {
  height: 50px;
  background-color: #01161E;
  box-shadow: 0px 10px 15px black;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%; 
}

nav a:hover {
  background-color: #363636;
  font-family: "Dosis";
  color: #FF3D40;
} 

nav a {
  color: White;
  text-decoration: none;
  font-family: "Dosis";
  font-size: 20px;
  display: block;
  flex-grow: 1;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.block {
  height: 150px;
  width: 150px;
  padding: 30px;
  background-color: #900C3F;
  color: white;
  text-align: center;
  margin: 15px;
  font-size: 18px;
  font-family: "Dosis";
  border-radius: 50%;
  display : flex;
  justify-content: center;
  align-items: center;
}

.block-parent {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}


footer {
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Dosis";
}

footer p {
  /* line-height: 50px; */
  margin-left: 5%;
}

#home:before  {
content: url("../images/temple-japonais.png");
padding-right: 10px;
margin-top: 5px;
}

#home-banner {
  background-image: url("../images/fuji-san-artwork.jpg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
}

#land-banner {
  background-image: url("../images/paysage-japonais.jpg");
  height: 350px;
  width: auto;
  background-size: cover;
  background-position: center;
  line-height: 350px;
}

.black-bar {
  height: 50px;
  width: 100%;
  background-color: black;
  box-shadow: 0px 2px 15px black;
}

#lang-banner {
  background-image: url("../images/japanese-street.jpg");
  height: 350px;
  width: auto;
  background-size: cover;
  background-position: center;
  line-height: 350px;
}

#culture-banner {
  background-image: url("../images/temple-street.jpg");
  height: 350px;
  width: auto;
  background-size: cover;
  background-position: center;
  line-height: 350px;
}

.header-parent {
  display: flex;
  justify-content: space-between;
  height: 130px;
}

.social-icons {
  position: absolute;
  display : flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 7%;
  background-color: #FF3D40;
  margin-top: 50px;
}

.social-icons a {
  color : white;
  height: 50px;
  width: 100%;
  display : flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border-style: solid;
}

#facebook-icon {
  border-width: 0px 0px 2px 0px;
}

/* 

* {
  box-sizing: border-box;
}

l'astérisque sert à l'appliquer à tout le monde
sert pour les bordures. sans border box, la bordure se met à l'extérieur 
et ne mesure donc plus la dimension de base du block.
pareil pour le padding

*/



